<h1> Travelogue </h1>
<p> Select one city to see travelogues or create a new city's travelogue! </p>
<ul>
 <% for place in @places %>
 <li>
 <a href="/places/<%= place["id"] %>">
 <%= place["name"] %>
 </a>
 </li>
 <% end %>
</ul>
<p>
 <a href="places/new"> <b> Add one new unique place </b> </a>
</p>